/phase1_marie/
/old_random_lists/
/stimuli/ungated/
/.RData
/.Rhistory
/exp_gating.Rproj
/geomFlatViolin_func.R
/overview.xlsx
/.Rproj.user/
/stimuli/gated/practice/new/02_C01_b1_t10_nelli_bra_g3.wav
/stimuli/gated/practice/old/02_C01_b1_t07_moni__bra_g1.wav
/stimuli/gated/practice/old/02_C01_b1_t07_moni__bra_g2.wav
/stimuli/gated/practice/old/02_C01_b1_t07_moni__bra_g3.wav
/stimuli/gated/practice/old/02_C01_b1_t07_moni__bra_g4.wav
/stimuli/gated/practice/old/02_C01_b1_t07_moni__bra_g5.wav
/stimuli/gated/practice/old/02_C01_b1_t07_moni__bra_g6.wav
/stimuli/gated/practice/old/02_C01_b1_t07_moni__bra_g7.wav
/stimuli/gated/practice/new/02_C01_b1_t10_nelli_bra_g1.wav
/stimuli/gated/practice/new/02_C01_b1_t10_nelli_bra_g2.wav
/stimuli/gated/practice/new/02_C01_b1_t10_nelli_bra_g4.wav
/stimuli/gated/practice/new/02_C01_b1_t10_nelli_bra_g5.wav
/stimuli/gated/practice/new/02_C01_b1_t10_nelli_bra_g6.wav
/stimuli/gated/practice/new/02_C01_b1_t10_nelli_bra_g7.wav
/gating_experiment.Rmd
/results/gating_practice_results_subject_ID_20230515_105748.csv
/results/gating_practice_results_subject_ID_20230515_111315.csv
/results/gating_test_results_subject_ID_20230515_105748.csv
/results/gating_test_results_subject_ID_20230515_111315.csv
